node_modules
lerna-debug.log
npm-debug.log
packages/*/node_modules
packages/*/npm-debug.log
**/db-*
**/_book
**/build
**/.lock
**/dist

# Vim ignores
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
