**/node_modules/*
**/lib/*
**/dist/*
**/build/*
**/es/*
**/registerServiceWorker.js
**/service-worker.js
**/coverage/*
packages-to-delete
apps
docs
enablement
ops
**/*wallaby.conf.js
**/public/bundle.*.js
vendor/interbit
**/*.browser.js
**/*.server.js
