.ibweb.app-app-store {
  .ibweb-navbar-container {
    margin-bottom: 128px;
  }

  .featured-app {
    padding: 64px;
    border-radius: 8px;
    background: #f7f7f7;

    h2 {
      font-size: 40px;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 64px auto 0 auto;
    }
  }

  .image-with-text {
    .text {
      position: absolute;
      bottom: 64px;
      left: 50%;
      margin-left: -220px;
      width: 440px;
      color: #fff;
      text-align: center;

      h2 {
        font-size: 40px;
      }

      p {
        color: #fff;
      }
    }
  }

  .ibweb-content-bar.in-progress.store-listing {
    h3 {
      color: #999;
    }
  }

  .reviews {
    color: #999;

    p {
      color: #999;
    }

    .stars {
      margin-bottom: 32px;

      i {
        padding-right: 3px;
      }
    }
  }

  .app-details {
    .ibweb-breadcrumb {
      margin-bottom: 16px;
      color: #666;

      i {
        padding: 0 8px;
      }
    }

    .icon-row {
      margin-bottom: 32px;

      img {
        display: inline-block;
        height: 128px;
        width: 128px;
        margin-right: 16px;
        border-radius: 16px;
        vertical-align: top;
      }

      .info {
        display: inline-block;

        p {
          color: #999;

          a {
            padding-right: 16px;
          }
        }

        .rating {
          color: #666;

          span {
            display: inline-block;
            padding: 0 6px;
            border-radius: 2px;
            background: #f7f7f7;
          }
        }
      }

      .ibweb-button {
        padding-left: 30px;
        padding-right: 30px;
        float: right;
      }
    }

    .ibweb-image-full-width {
      margin-bottom: 32px;
    }

    .ibweb-divider {
      margin: 32px 0;
    }

    .ibweb-content-bar {
      .ibweb-divider {
        margin: 16px 0;
      }
    }
  }
}
