@import 'variables';
@import 'mixins';

.App {

  .Project-item {
    .Project-container {
      hr {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &:last-child {
      hr {
        display: none;
      }
    }

    .Project-title {
      font-size: 18px;
      margin: 10px 20px 18px 0;
      text-decoration: underline;
      display: inline-block;
      transition: .25s;
      @media (min-width: $screen-sm) {
        font-size: 20px;
      }
      &:hover {
        cursor: pointer;
        color: $interbit-dark-blue;
      }
    }
    .fa {
      margin-top: 10px;
      font-size: 33px;
      @media (max-width: $screen-sm - 1) {
        display: none;
      }
    }
  }

  .Status {
    font-size: 13px;
  }

  .Connect-create {
    margin-bottom: 20px;
    padding-top: 12px;
    text-align: right;
    .Connect {
      @media (max-width: $screen-sm - 1) {
        padding: 7px 20px;
      }
      @media (min-width: $screen-sm) {
        display: inline-block;
        width: 190px;
        margin-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
    .Create-new {
      @media (max-width: $screen-sm - 1) {
        padding: 8px 20px;
        margin-top: 12px;
        margin-bottom: 24px;
      }
      @media (min-width: $screen-sm) {
        display: inline-block;
        width: 190px;
      }
    }
  }

  .Project-details {
    // padding-top: 15px;
    // h3 {
    //   font-size: 18px;
    //   margin-top: 4px;
    //   @media (min-width: $screen-sm) {
    //     font-size: 20px;
    //     margin-top: 10px;
    //   }
    // }
    // @media (min-width: $screen-sm) {
    //   padding-top: 76px;
    // }
    // .Project-back {
    //   background-color: $white;
    //   border: 2px solid $dark-gray;
    //   transition: .25s;
    //   padding: 4px 10px;
    //   margin-top: 6px;
    //   .fa-angle-double-left {
    //     font-weight: 700;
    //     font-size: 16px;
    //   }
    //   &:hover {
    //     background-color: $light-gray;
    //   }
    //   @media (max-width: $screen-sm - 1) {
    //     margin-bottom: 12px;
    //   }
    // }
    .Open {
      display: inline-block;
      margin-top: 6px;
      width: 190px;
      @media (max-width: $screen-sm - 1) {
        margin-top: 12px;
        padding: 7px 20px;
        width: 100%;
      }
    }
    // .Project-form-row {
    //   padding-bottom: 40px;
    //   .Project-details-form {
    //     padding-top: 30px;
    //     .name, .description, .faIcon {
    //       select {
    //         font-family: FontAwesome, 'Open Sans';
    //       }
    //       margin-bottom: 15px;
    //       border-radius: 0px;
    //     }
    //     textarea.description {
    //       height: 110px;
    //     }
    //     .form-control-feedback {
    //       right: 34px;
    //     }
    //     .Primary-button {
    //       width: 190px;
    //       @media (max-width: $screen-sm - 1) {
    //         margin-top: 12px;
    //         padding: 8px 20px;
    //         width: 100%;
    //       }
    //     }
    //   }
    // }
    .Project-packages {
      padding-top: 40px;
      border-top : 1px solid $light-gray;
      h3 {
        margin-right: 20px;
        @media (min-width: $screen-sm) {
          display: inline-block;
        }
      }
      .Status {
        display: inline-block
      }
      .Secondary-button {
        margin-top: 6px;
        width: 190px;
        @media (max-width: $screen-sm - 1) {
          margin-top: 16px;
          padding: 7px 20px;
          width: 100%;
        }
      }
      table {
        margin-top: 20px;
        background-color: #f5f5f5;
        th {
          color: $dark-gray;
          &:nth-child(3) {
            width: 90px;
            text-align: center;
          }
        }
        tbody > tr > td:nth-child(3) {
          text-align: center
        }
      }
    }
    textarea {
      resize: none;
    }
  }
}

.ibweb.app-project {
  .ibweb-navbar {
    .ibweb-ib-icon {
      padding: 18px 0;
      width: auto;
      height: auto;
    }

    .nav-main-menu {
      li a {
        font-weight: 500;
        color: $ib-blue;
        line-height: 1.38;
      }

      li.active a {
        color: #666;
      }
    }
  }

  .ibweb-content-bar.project-bar {
    .status {
      display: inline-block;
      width: 170px;

      i {
        vertical-align: bottom;
        padding-right: 8px;
      }

      i:before {
        font-size: 20px;
      }

      &.pass {
        color: $ib-green;
      }

      &.fail {
        color: $ib-red;
      }
    }

    .app-url {
      i {
        vertical-align: bottom;
        padding-right: 8px;
      }

      i:before {
        font-size: 20px;
      }
    }
  }

  .app-project-icon {
    display: block;
    float: left;
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 16px;
  }

  .app-project-details {
    display: inline-block;
    width: calc(100% - 82px);

    .ibweb-divider {
      margin: 16px 0 32px 0;
    }

    .ibweb-button {
      width: 235px;
      padding: 7px 10px;
    }

    .app-status {
      span {
        @include body-font;
        font-weight: 400;
        padding-left: 16px;
        color: #999;
      }
    }

    .status {
      display: inline-block;
      width: 170px;

      &.fail {
        color: $ib-red;
      }

      &.pass {
        color: $ib-green;
      }

      i {
        vertical-align: bottom;
        padding-right: 8px;

        &:before {
          font-size: 20px;
        }
      }
    }

    .app-url {
      i {
        vertical-align: bottom;
        padding-right: 8px;

        &:before {
          font-size: 20px;
        }
      }
    }
  }
}
