@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400,600');
@import 'variables';
@import 'mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .005em;
  min-width: 360px;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top: 10px;
	color: $dark-gray;
}

.Nav {
  margin-bottom: 0;
  background-color: $white;
  border-radius: 0;
  .navbar-toggle {
    margin-top: 17px;
  }
  .navbar-header {
    width: initial;
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      width: 130px;
    }
    .App-logo {
      height: 56px;
      margin-left: 15px;
      margin-top: 4px;
      @media (max-width: $screen-md - 1) {
        margin-bottom: 5px;
      }
      @media (min-width: $screen-sm) {
        margin-left: 0px;
      }
      @media (min-width: $screen-md) {
        height: initial;
        margin-top: 0px;
      }
    }
  }
  .Nav-group {
    margin-top: 9px;
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 600;
    .Nav-link > a {
      text-transform: uppercase;
      color: $gray;
      &:hover {
        color: $interbit-blue;
      }
    }
    .Nav-link.active>a,
    .Nav-link.active>a:focus,
    .Nav-link.active>a:hover {
      background-color: transparent;
      color: $interbit-blue;
    }
    .User-dropdown {
      margin-top: 5px;
      margin-left: 15px;
      border: 1px solid $light-gray;
      @media (max-width: $screen-sm - 1) {
        margin-bottom: 5px;
        margin-right: 15px;
      }
      #nav-dropdown {
        padding: 0;
        padding-right: 15px;
        @media (max-width: $screen-sm - 1) {
          .caret {
            float:right;
            margin-top: 18px;
          }
        }
      }
      .Logged-in-user {
        display: inline;
        span {
          margin-left: 15px;
        }
      }
    }
    .Profile-pic {
      height: 40px;
    }
    .Dropdown-link > a {
      padding: 10px 20px;
      font-weight: 600;
      color: $gray;
    }
  }
}

a {
	color: $gray;
	font-weight: 600;
	&:hover {
		color:$interbit-dark-blue;
		text-decoration: none;
	}
}

@mixin primary-btn-dark {
  color: $white;
  background-color: $interbit-dark-blue;
  border-color: $interbit-dark-blue;
}

@mixin btn-base {
	margin-top: 8px;
	font-size: 16px;
	display: block;
	border-radius: 2px;
	font-weight: 700;
  font-family: 'Lato', sans-serif;
  transition: .25s;
}

.Primary-button {
	@include btn-base;
  padding: 6px 20px;
  color: $white;
  background-color: $interbit-blue;
  border-color: $interbit-blue;
}

.Primary-button:focus,
.Primary-button.focus,
.Primary-button:hover,
.Primary-button:active,
.Primary-button.active,
.open > .dropdown-toggle.Primary-button,
.Primary-button:active:hover,
.Primary-button.active:hover,
.open > .dropdown-toggle.Primary-button:hover,
.Primary-button:active:focus,
.Primary-button.active:focus,
.open > .dropdown-toggle.Primary-button:focus,
.Primary-button:active.focus,
.Primary-button.active.focus,
.open > .dropdown-toggle.Primary-button.focus {
  @include primary-btn-dark;
}

.Primary-button.disabled, .Primary-button[disabled],
.Primary-button.disabled:hover, .Primary-button[disabled]:hover {
  @include primary-btn-dark;
  opacity: .5;
}

@mixin secondary-btn-dark {
	color: $dark-gray;
	background-color: $light-gray;
	border-color: $dark-gray;
}

.Secondary-button {
	@include btn-base;
  padding: 4px 20px;
  color: $dark-gray;
  background-color: $white;
  border: 2px solid $dark-gray;
}

.Secondary-button:focus,
.Secondary-button.focus,
.Secondary-button:hover,
.Secondary-button:active,
.Secondary-button.active,
.open > .dropdown-toggle.Secondary-button,
.Secondary-button:active:hover,
.Secondary-button.active:hover,
.open > .dropdown-toggle.Secondary-button:hover,
.Secondary-button:active:focus,
.Secondary-button.active:focus,
.open > .dropdown-toggle.Secondary-button:focus,
.Secondary-button:active.focus,
.Secondary-button.active.focus,
.open > .dropdown-toggle.Secondary-button.focus {
  @include secondary-btn-dark;
}

.Secondary-button.disabled, .Secondary-button[disabled],
.Secondary-button.disabled:hover, .Secondary-button[disabled]:hover {
  @include secondary-btn-dark;
  opacity: .5;
}

.form-control {
  border-radius: 0;
  border-color: $light-gray;
}

@import '~react-virtualized/styles.css';
@import '_react-virtualized.overrides';
@import 'BlockExplorer';

