$white: #FFFFFF;
$light-gray: #E7E7E7;
$gray: #919191;
$dark-gray: #333;
$interbit-blue: #22D6D6;
$interbit-dark-blue: #1EC0C0;
$interbit-yellow: #FFAD1D;
$screen-sm:	768px;
$screen-md: 992px;
$screen-lg:	1200px;

$ib-blue:             #17A6F2;
