@import 'variables';

.App {

  .Account-sidebar {
    margin-top: 10px;
    padding: 0;
    background-color: $white;
    h4 {
      margin: 15px;
      font-weight: 900;
      @media (max-width: $screen-sm - 1) {
        margin-top: 0px;
      }
    }
    .nav > li > a {
      border-radius: 2px;
      font-weight: 700;
      font-size: 16px;
      padding: 8px 15px;
      &:hover {
        color: $dark-gray;
        background-color: transparent;
      }
    }
    .nav-pills>li.active>a,
    .nav-pills>li.active>a:focus,
    .nav-pills>li.active>a:hover {
      background-color: $light-gray;
      color: $dark-gray;
    }
  }

  .Update {
    width: 130px;
    @media (max-width: $screen-sm - 1) {
      padding: 8px 20px;
      width: 100%;
    }
  }

  .My-providers {
    th {
      color: $dark-gray;
    }
    .Manage-provider > span.glyphicon:hover {
      color: $dark-gray;
    }
  }
}

.ibweb.app-account {
  .ibweb-navbar {
    .ibweb-ib-icon {
      padding: 18px 0;
      width: auto;
      height: auto;
    }

    .nav-main-menu {
      li a {
        font-weight: 500;
        color: $ib-blue;
        line-height: 1.38;
      }

      li.active a {
        color: #666;
      }
    }
  }

  .form-group {
    margin-bottom: 16px;

    label {
      margin-bottom: 8px;
    }

    .form-control-static {
      padding: 0;
      min-height: 0;
    }
  }

  .account-profile-form {
    .control-label {
      text-transform: capitalize;
    }
  }

  .account-edit-button {
    color: $ib-blue;
    position: absolute;
    top: 0;
    right: 0;
    border: transparent;

    &:hover,
    &:active,
    &:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background: #FFF;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .app-auth {
    img {
      display: block;
      margin: 64px auto;
      max-width: 100%;
    }

    h3 {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 32px;
    }

    .table {
      margin-bottom: 16px;
      background: transparent;

      td {
        padding: 20px 16px;
        color: #666;
        border-color: #e6e6e6;
      }

      td:first-child {
        text-transform: capitalize;
        font-weight: 500;
      }

      td:last-child {
        text-align: right;
      }

      td[colspan="2"] {
        text-align: left;
      }

      tr:last-child td {
        border-bottom: 1px solid #e6e6e6;
      }

      .form-td {
        padding: 16px 0;

        input {
          margin: 0;
        }
      }
    }

    .table.logged-out {
      margin-bottom: 32px;

      td:last-child {
        color: #999;
      }
    }

    .btn-container {
      margin-bottom: 64px;
    }

    .text-btn-container {
      text-align: center;
    }
  }
}


.ibweb.app-account {
  .ibweb-page.home {
    .header {
      margin-top: -65px;
    }
  }

  .ibweb-page.create-account {
    .ibweb-content-bar.github {
      .error {
        color: #d0021b;
      }
    }
  }
}


.ibweb-modal-wrapper.modal-sign-in {
  .modal-footer {
    .text-button:last-child {
      float: right;
    }
  }
}

.ibweb-modal-wrapper.modal-attention {
  .modal-header {
    h2 {
      margin-bottom: 0;
    }
  }

  .modal-body {
    padding-bottom: 16px;
  }

  .modal-footer {
    padding-bottom: 16px;

    .checkbox {
      margin-bottom: 32px;
    }

    .ibweb-button {
      margin-top: 32px;
    }
  }
}
