@import 'variables';

.ibweb.app-account {
  .ibweb-navbar {
    .ibweb-ib-icon {
      padding: 18px 0;
      width: auto;
      height: auto;
    }

    .nav-main-menu {
      li a {
        font-weight: 500;
        color: $ib-blue;
        line-height: 1.38;
      }

      li.active a {
        color: #666;
      }
    }
  }

  .form-group {
    margin-bottom: 16px;

    label {
      margin-bottom: 8px;
    }

    .form-control-static {
      padding: 0;
      min-height: 0;
    }
  }

  .account-profile-form {
    .control-label {
      text-transform: capitalize;
    }

    @media (max-width: $screen-sm - 1) {
      .btn {
        margin-bottom: 16px;
        width: 200px;
      }
    }
  }

  .account-edit-button {
    color: $ib-blue;
    position: absolute;
    top: 0;
    right: 0;
    border: transparent;

    &:hover,
    &:active,
    &:focus,
    &:active.focus,
    &.active:hover,
    &.active:focus,
    &.active.focus {
      background: #FFF;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .app-auth {
    img {
      display: block;
      margin: 64px auto;
      max-width: 80%;
    }

    h3 {
      margin-bottom: 32px;
    }

    p {
      margin-bottom: 32px;
    }

    .table {
      margin-bottom: 16px;
      background: transparent;

      td {
        padding: 20px 16px;
        color: #666;
        border-color: $ib-grid-med-grey;
      }

      td:first-child {
        text-transform: capitalize;
        font-weight: 500;
      }

      td:last-child {
        text-align: right;
      }

      td[colspan="2"] {
        text-align: left;
      }

      tr:last-child td {
        border-bottom: 1px solid $ib-grid-med-grey;
      }

      .form-td {
        padding: 16px 0;

        input {
          margin: 0;
        }
      }
    }

    .table.logged-out {
      margin-bottom: 32px;

      td:last-child {
        color: #999;
      }
    }

    .btn-container {
      margin-bottom: 64px;
    }

    .text-btn-container {
      text-align: center;
    }

    @media (max-width: $screen-sm - 1) {
      .btn-container {
        text-align: center;
        margin-bottom: 16px;

        .btn {
          width: 200px;
          margin-bottom: 8px;
        }
      }
    }
  }
}


.ibweb.app-account {
  .ibweb-page.home {
    .header {
      margin-top: -17px;

      @media (max-width: $screen-sm - 1) {
        margin-top: 0;
      }
    }
  }

  .ibweb-page.create-account {
    .ibweb-content-bar.github {
      .error {
        color: $ib-red;
      }
    }
  }
}


.ibweb-modal-wrapper.modal-sign-in {
  .modal-header {
    h2 span {
      word-break: break-all;
    }
  }
  .modal-footer {
    .text-button:last-child {
      float: right;
    }
  }

  @media (max-width: $screen-sm - 1) {
    .modal-header {
      h2 {
        margin-bottom: 0;
      }
    }
  }
}

.ibweb-modal-wrapper.modal-attention {
  .modal-header {
    h2 {
      margin-bottom: 0;
    }
  }

  .modal-body {
    padding-bottom: 16px;
  }

  .modal-footer {
    padding-bottom: 16px;

    .checkbox {
      margin-bottom: 32px;
    }

    .ibweb-button {
      margin-top: 32px;
    }
  }
}

.ibweb-modal-wrapper.modal-attention-more-info {
  .modal-header {
    h2 {
      margin-bottom: 0;
    }
  }

  .modal-body {
    padding-bottom: 16px;
  }

  .modal-footer {
    padding-bottom: 16px;

    .checkbox {
      margin-bottom: 32px;
    }
  }
}
