$white: #fff;
$light-gray: #e7e7e7;
$gray: #919191;
$dark-gray: #333;
$interbit-blue: #22d6d6;
$interbit-dark-blue: #1ec0c0;
$interbit-yellow: #ffad1d;
$screen-sm:	768px;
$screen-md: 992px;
$screen-lg:	1200px;

// Added for BlockExplorer
// Custom colors
$white-smoke: #f5f5f5;
$alt-gray: #f9f9f9;
$bs-tbl-gray: #f1f1f1;
$tbl-border-gray: #ddd;

// Bootstrap variables
$font-size-small: 12px;
$font-size-base: 14px;

$nav-height: 92px;
$bottom-margin: 15px;
$light-font-weight: 300;
$medium-font-weight: 500;

// React Virtualized
$react-virtualized-header-height: 36px;
