@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400,600");
@import url(~react-virtualized/styles.css);
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .005em;
  min-width: 360px; }

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  color: #333; }

.Nav {
  margin-bottom: 0;
  background-color: #FFFFFF;
  border-radius: 0; }
  .Nav .navbar-toggle {
    margin-top: 17px; }
  .Nav .navbar-header {
    width: initial; }
    @media (min-width: 768px) and (max-width: 992px) {
      .Nav .navbar-header {
        width: 130px; } }
    .Nav .navbar-header .App-logo {
      height: 56px;
      margin-left: 15px;
      margin-top: 4px; }
      @media (max-width: 991px) {
        .Nav .navbar-header .App-logo {
          margin-bottom: 5px; } }
      @media (min-width: 768px) {
        .Nav .navbar-header .App-logo {
          margin-left: 0px; } }
      @media (min-width: 992px) {
        .Nav .navbar-header .App-logo {
          height: initial;
          margin-top: 0px; } }
  .Nav .Nav-group {
    margin-top: 9px;
    letter-spacing: .5px;
    font-size: 14px;
    font-weight: 600; }
    .Nav .Nav-group .Nav-link > a {
      text-transform: uppercase;
      color: #919191; }
      .Nav .Nav-group .Nav-link > a:hover {
        color: #22D6D6; }
    .Nav .Nav-group .Nav-link.active > a,
    .Nav .Nav-group .Nav-link.active > a:focus,
    .Nav .Nav-group .Nav-link.active > a:hover {
      background-color: transparent;
      color: #22D6D6; }
    .Nav .Nav-group .User-dropdown {
      margin-top: 5px;
      margin-left: 15px;
      border: 1px solid #E7E7E7; }
      @media (max-width: 767px) {
        .Nav .Nav-group .User-dropdown {
          margin-bottom: 5px;
          margin-right: 15px; } }
      .Nav .Nav-group .User-dropdown #nav-dropdown {
        padding: 0;
        padding-right: 15px; }
        @media (max-width: 767px) {
          .Nav .Nav-group .User-dropdown #nav-dropdown .caret {
            float: right;
            margin-top: 18px; } }
      .Nav .Nav-group .User-dropdown .Logged-in-user {
        display: inline; }
        .Nav .Nav-group .User-dropdown .Logged-in-user span {
          margin-left: 15px; }
    .Nav .Nav-group .Profile-pic {
      height: 40px; }
    .Nav .Nav-group .Dropdown-link > a {
      padding: 10px 20px;
      font-weight: 600;
      color: #919191; }

a {
  color: #919191;
  font-weight: 600; }
  a:hover {
    color: #1EC0C0;
    text-decoration: none; }

.Primary-button {
  margin-top: 8px;
  font-size: 16px;
  display: block;
  border-radius: 2px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  transition: .25s;
  padding: 6px 20px;
  color: #FFFFFF;
  background-color: #22D6D6;
  border-color: #22D6D6; }

.Primary-button:focus,
.Primary-button.focus,
.Primary-button:hover,
.Primary-button:active,
.Primary-button.active,
.open > .dropdown-toggle.Primary-button,
.Primary-button:active:hover,
.Primary-button.active:hover,
.open > .dropdown-toggle.Primary-button:hover,
.Primary-button:active:focus,
.Primary-button.active:focus,
.open > .dropdown-toggle.Primary-button:focus,
.Primary-button:active.focus,
.Primary-button.active.focus,
.open > .dropdown-toggle.Primary-button.focus {
  color: #FFFFFF;
  background-color: #1EC0C0;
  border-color: #1EC0C0; }

.Primary-button.disabled, .Primary-button[disabled],
.Primary-button.disabled:hover, .Primary-button[disabled]:hover {
  color: #FFFFFF;
  background-color: #1EC0C0;
  border-color: #1EC0C0;
  opacity: .5; }

.Secondary-button {
  margin-top: 8px;
  font-size: 16px;
  display: block;
  border-radius: 2px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  transition: .25s;
  padding: 4px 20px;
  color: #333;
  background-color: #FFFFFF;
  border: 2px solid #333; }

.Secondary-button:focus,
.Secondary-button.focus,
.Secondary-button:hover,
.Secondary-button:active,
.Secondary-button.active,
.open > .dropdown-toggle.Secondary-button,
.Secondary-button:active:hover,
.Secondary-button.active:hover,
.open > .dropdown-toggle.Secondary-button:hover,
.Secondary-button:active:focus,
.Secondary-button.active:focus,
.open > .dropdown-toggle.Secondary-button:focus,
.Secondary-button:active.focus,
.Secondary-button.active.focus,
.open > .dropdown-toggle.Secondary-button.focus {
  color: #333;
  background-color: #E7E7E7;
  border-color: #333; }

.Secondary-button.disabled, .Secondary-button[disabled],
.Secondary-button.disabled:hover, .Secondary-button[disabled]:hover {
  color: #333;
  background-color: #E7E7E7;
  border-color: #333;
  opacity: .5; }

.form-control {
  border-radius: 0;
  border-color: #E7E7E7; }

.ReactVirtualized__Table {
  background-color: #f9f9f9; }
  .ReactVirtualized__Table :focus {
    outline: none !important; }
  .ReactVirtualized__Table .ReactVirtualized__Table__row {
    cursor: pointer; }
  .ReactVirtualized__Table .ReactVirtualized__Table__headerRow {
    background-color: #333;
    color: #f5f5f5;
    font-weight: 300;
    padding-top: 6px;
    height: 36px;
    cursor: default !important; }

.explorerBody {
  height: calc(100vh - 50px - 92px - 15px - 30px);
  margin-left: -15px;
  margin-right: -15px; }
  .explorerBody h5 {
    padding-left: 15px; }
    .explorerBody h5.heading {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 11px; }

.explorerColumn {
  height: 100%;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333; }
  .explorerColumn:last-child {
    border-right: 1px solid #333; }
  .explorerColumn p {
    padding-top: 10px; }

.explorerColumnHeading {
  background-color: #333;
  color: #f5f5f5;
  font-weight: 300;
  padding-top: 9px;
  height: 40px; }

.fillHeight {
  height: 100%; }

.search {
  text-align: right; }
  .search :global(.input-group) {
    margin-top: -6px; }

.form {
  vertical-align: middle;
  height: 50px;
  padding-top: 10px;
  background-color: #f5f5f5; }
  .form label {
    color: #333 !important; }

.json {
  width: calc(100% + 30px);
  height: calc(100% - 40px);
  margin-left: -15px;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-left: 15px; }
  .json pre {
    overflow: initial;
    font-size: 12px; }

.tableHeader {
  color: #333;
  background-color: #E7E7E7;
  font-size: 14px;
  font-weight: 500; }

.table {
  background-color: #f9f9f9; }

.tableHeight {
  height: calc(100% - 40px);
  overflow-y: auto; }

.row {
  cursor: pointer; }

.blockTable {
  height: calc(100% - 40px);
  overflow-y: auto; }
  .blockTable .blockTableBody {
    background-color: #f9f9f9; }
  .blockTable .blockTableRow {
    cursor: pointer; }
  .blockTable .blockTableHeader {
    color: #333;
    background-color: #E7E7E7;
    font-size: 14px;
    font-weight: 500; }
  .blockTable .headerRow {
    color: #333;
    background-color: #E7E7E7 !important;
    cursor: default !important;
    text-transform: capitalize; }
  .blockTable .alternatingRow {
    background-color: #f1f1f1; }
  .blockTable .selectedRow {
    background-color: #dddddd; }

.metadata, .actions {
  overflow-y: auto; }
  .metadata table, .actions table {
    font-size: 12px; }
    .metadata table th, .actions table th {
      font-size: 14px;
      font-weight: 500; }
    .metadata table thead tr th:first-child,
    .metadata table tbody tr td:first-child, .actions table thead tr th:first-child,
    .actions table tbody tr td:first-child {
      vertical-align: middle;
      padding-left: 15px;
      padding-right: 8px; }

.metadata {
  height: calc(40% - 40px); }

.actions {
  height: calc(60% - 40px); }
  .actions .actionTitle {
    background-color: #dddddd;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .actions table {
    margin-bottom: 0px; }
    .actions table tbody tr:first-child td:first-child {
      vertical-align: top;
      padding-top: 18px; }

/*# sourceMappingURL=index.css.map */
