// Activity-Bar
.ibweb-activity-bar {
  background-color: $ib-grey;
  min-width: 320px;
  max-width: 600px;
  border-radius: $border-radius-sm;
  margin: 0 0 $margin-sm 0;

  .content {
    padding: $margin-sm;
    padding-top: 0;
    display: grid;
    grid-template-columns: 56px minmax(232px, 512px);

    .btn-link {
      padding: 0;
    }

    & > .btn-link {
      height: 40px;
      width: 40px;
      margin-right: $margin-sm;
    }

    .name {
      color: $ib-dark-blue;
      font-size: $font-size-x-sm;
      font-weight: 700;
      display: inline-block;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: $margin-xx-sm;
    }

    .body {
      color: rgba(0, 0, 0, 0.85);
      font-size: $font-size-xx-sm;
    }
  }

  .meta-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $margin-xx-sm $margin-sm;

    span {
      font-size: $font-size-xx-sm;
      font-weight: 400;
    }

    .activity-bar-breadcrumb {
      list-style: none;
      color: $ib-dark-blue;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 50%;

      li {
        display: inline;
        font-size: 12px;

        .btn-link {
          padding: 0;
        }
      }

      li + li::before {
        padding: 4px;
        color: black;
        content: ">";
      }
    }

    .activity-bar-timestamp {
      color: $ib-opaque-black;
      display: block;
      width: 50%;
      text-align: right;
    }
  }

  .ibweb-divider {
    width: 100%;
    border-top: 1px solid $ib-white;
  }
}
