@import "./../variables";

.ibweb-app-bucket {
  $transition-delay: 200ms;
  $transition: opacity $transition-delay linear, visibility 0s linear;
  $arrow-size: 10px;
  $font-family: "Roboto", sans-serif;
  $popover-border-radius: 6px;
  $popover-padding: 40px;
  $popover-width: 252px;
  $popover-height: 304px;
  $item-wrapper-padding: 8px;
  $item-border-radius: 8px;
  $item-height: 64px;
  $item-width: 64px;
  $item-text-padding: 10px 0;
  $item-text-size: 14px;

  .ibweb-app-bucket-container {
    &.open {
      .ibweb-app-bucket-popover {
        // display: block;
        opacity: 1;
        visibility: visible;
        transition: $transition;
      }
      .ibweb-app-bucket-trigger {
        &:after {
          opacity: 1;
          visibility: visible;
          transition: $transition;
        }
      }
    }
    float: right;
    margin: 0 auto;
    position: relative;
    text-align: center;
    .ibweb-app-bucket-trigger {
      position: relative;
      display: inline-block;
      cursor: pointer;
      z-index: 5;
      &:after {
        box-sizing: content-box;
        opacity: 0;
        visibility: hidden;
        transition: $transition;
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $arrow-size $arrow-size $arrow-size;
        border-color: $app-bucket-border-color;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 0);
      }
    }
    .ibweb-app-bucket-popover {
      z-index: 5;
      position: absolute;
      border-radius: $popover-border-radius;
      top: calc(100% + #{$arrow-size});
      left: 50%;
      transform: translate(-50%, 0);
      opacity: 0;
      visibility: hidden;
      display: none;
      transition: $transition;
      .ibweb-app-bucket-item-row {
        display: block;
        float: left;
      }
      box-shadow: $app-bucket-popover-shadow;
      background-color: $app-bucket-popover-bg;
      font-family: $font-family;
      width: $popover-width;
      height: $popover-height;
      padding: $popover-padding;
      .ibweb-app-bucket-item-wrapper {
        &:hover {
          border: $app-bucket-item-border-hover;
          .item-text {
            color: $app-bucket-item-text-color-hover;
          }
        }
        border: 1px solid transparent;
        transition: all 0.3s;
        cursor: pointer;
        position: relative;
        float: left;
        border-radius: $item-border-radius;
        padding: $item-wrapper-padding;
        text-align: center;
        width: 80px;
        &:nth-child(even) {
          float: right;
        }
        .ibweb-app-bucket-item {
          &.ibweb-app-bucket-item-placeholder {
            background-color: $app-bucket-item-placeholder-bg;
          }
          width: $item-width;
          height: $item-height;
          overflow: hidden;
          border-radius: $item-border-radius;
          & img {
            width: $item-width;
            height: $item-height;
          }
        }
        .ibweb-app-bucket-item-text {
          display: inline-block;
          font-size: $item-text-size;
          color: $app-bucket-item-text-color;
          line-height: 14px;
          padding: $item-text-padding;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
        }
      }
    }
  }
}
