$ib-pill-blue-100:    #003AFF;
$ib-pill-blue-90:     #0054FF;
$ib-pill-blue-80:     #007AFF;
$ib-pill-blue-60:     #66AFFF;
$ib-pill-red-100:     #D61E1E;
$ib-pill-red-90:      #E03535;
$ib-pill-red-80:      #EB5757; //$ib-grid-red
$ib-pill-red-60:      #F39A9A;
$ib-pill-grey:        #C4C4C4;

$ib-box-shadow: rgba(0, 0, 0, 0.15);
$ib-pill-border-radius: 30px;

.ibweb-button {
  padding: 7px 40px;
  margin-right: $margin-sm;
  line-height: 32px;
  font-size:$font-size-sm;
  background: $ib-blue;
  border-radius: $border-radius-x-sm;
  color: $ib-white;
  border: 1px solid $ib-blue;

  img {
    border-radius: $border-radius-x-sm;
    margin-right: 8px;
  }

  &.img {
    padding: 7px;
  }

  &:hover,
  &:focus,
  &.focus,
  &.btn-default:active:hover,
  &.btn-default:active:focus,
  &.btn-default:active.focus,
  &.btn-default.active:hover,
  &.btn-default.active:focus,
  &.btn-default.active.focus
  {
    font-size: $font-size-sm;
    background: $ib-blue;
    border-radius: $border-radius-x-sm;
    color: $ib-white;
    border: 1px solid $ib-blue;
  }

  &.secondary,
  &.secondary:hover,
  &.secondary:focus,
  &.secondary.focus {
    background: $ib-grey;
    border-color: $ib-grey;
    color: $ib-blue;
  }

  &.ternary,
  &.ternary:hover,
  &.ternary:focus,
  &.ternary.focus {
    background: $ib-white;
    border-color: $ib-grid-med-grey;
    color: $ib-blue;
  }

  &.white,
  &.white:hover,
  &.white:focus,
  &.white.focus {
    background: $ib-white;
    border-color: $ib-white;
    color: $ib-blue;
  }

  &.destructive,
  &.destructive:hover,
  &.destructive:focus,
  &.destructive.focus {
    background: $ib-white;
    border-color: $ib-dark-grey;
    color: $ib-red;
  }

  &.super-destructive,
  &.super-destructive:hover,
  &.super-destructive:focus,
  &.super-destructive.focus {
    background: $ib-red;
    border-color: $ib-red;
    color: $ib-white;
  }

  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus {
    background: #999;
    border-color: #999;
    color:$ib-white;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  &.pill {
    border-radius: $ib-pill-border-radius;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    padding: 8px;
    border: 1px solid transparent;
    transition: all .2s;

    &:hover {
      box-shadow: 0 4px 8px $ib-box-shadow;
    }
    &:active {
      box-shadow: 0 4px 8px $ib-box-shadow;
    }
    &:focus,
    &:active:hover,
    &:active:focus {
      outline: none;
      border-radius: $ib-pill-border-radius;
    }

    &.blue {
      background-color: $ib-pill-blue-80;
      border-color: $ib-pill-blue-100;
      color: $ib-white;
    }
    &.blue:active {
      background-color: $ib-pill-blue-60;
      border-color: $ib-pill-blue-90;
    }
    &.blue.secondary {
      background-color: $ib-white;
      border-color: $ib-pill-blue-80;
      color: $ib-pill-blue-80;
    }
    &.blue.secondary:active {
      border-color: $ib-pill-blue-60;
      color: $ib-pill-blue-60;
    }

    &.red {
      background-color: $ib-pill-red-80;
      border-color: $ib-pill-red-100;
      color: $ib-white;
    }
    &.red:active {
      background-color: $ib-pill-red-60;
      border-color: $ib-pill-red-90;
    }
    &.red.secondary {
      background-color: $ib-white;
      border-color: $ib-pill-red-80;
      color: $ib-pill-red-80;
    }
    &.red.secondary:active {
      border-color: $ib-pill-red-60;
      color: $ib-pill-red-60;
    }

    &.disabled {
      background-color: $ib-white;
      border-color: $ib-white;
      color: $ib-pill-grey;
    }
  }
}

