// Logo, Icon, and Wordmark for Interbit
.ibweb-ib-icon {
  & > div {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: $border-radius-sm;
    border: 1px solid $ib-med-grey;
  }
}

// App page logos
.ibweb-logo {
  margin-top: -4px;
}
