// Main (header) nav bar component

.ibweb-navbar-container {
  width: 100%;
  margin-bottom: $margin-lg;
  border-bottom: 1px solid $ib-black-20;

  .ibweb-button {
    margin: 12px 0;
  }
}

.ibweb-navbar {
  background-color: $ib-white;
  border: none;
  margin-bottom: 0;

  .navbar-brand {
    padding-top: 22px;
    height: auto;
  }

  .nav-main-menu li a,
  .nav-right-menu li a {
    font-size: $font-size-sm;
    font-weight: 500;
    color: $ib-text-grey;
    line-height: 1.5;
    padding: 25px 16px;
  }

  .nav-main-menu li.active a,
  .nav-main-menu li.active a:hover,
  .nav-main-menu li.active a:focus {
    background: transparent;
  }

  .username {
    font-weight: 400;
    color: $ib-text-grey;

    span {
      color: $ib-green;
    }
  }
}

@media (max-width: $screen-lg-min - 1) {
  .ibweb-navbar-container {
    .col-md-3 {
      text-align: right;
    }
  }
}

@media (max-width: $screen-sm-min - 1) {
  .ibweb-navbar-container {
    margin-bottom: $margin-sm;
    border-bottom: none;

    .col-sm-3 {
      width: 25%;
      float: left;
    }

    .col-sm-9 {
      width: 75%;
      float: left;
    }

    .col-md-3 {
      text-align: left;
    }

    .navbar-header {
      float: left;

      .navbar-brand {
        padding: 8px 0;
        height: auto;
      }
    }

    .nav-main-menu {
      margin-top: 0;
      margin-bottom: 0;

      li {
        display: inline-block;

        &:first-child {
          padding-left: $margin-sm;
        }

        a {
          padding: 10px 8px;
        }
      }
    }

    li.accounts-link a {
      width: 100%;
      text-align: center;
      padding: 7px 40px;
      margin-bottom: 8px;
      line-height: 32px;
      background: $ib-blue;
      border-radius: 4px;
      color: $ib-white;
      border: 1px solid $ib-blue;

      &:hover, &:active, &:focus {
        color: $ib-white;
        background: $ib-blue;
      }
    }

  }
}
