// Bootstrap variable overrides
$grid-gutter-width:         16px;

$screen-lg: 1024px;
$screen-md: 630px;
$screen-sm: 630px;

$container-large-desktop: $screen-lg -  2*$grid-gutter-width;
$container-desktop: $screen-md - 2*$grid-gutter-width;
$container-tablet: $screen-sm - 2*$grid-gutter-width;

$navbar-border-radius: 0;


// Functions
$browser-context: 16;

@function rem($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


// Font sizes
$font-size-xx-sm:     rem(12);
$font-size-x-sm:      rem(14);
$font-size-sm:        rem(16);
$font-size-md:        rem(22);
$font-size-lg:        rem(24);
$font-size-x-lg:      rem(32);
$font-size-xx-lg:     rem(40);
$font-size-xxx-lg:    rem(50);

// Spacing
$margin-xx-sm:      4px;
$margin-x-sm:       8px;
$margin-sm:         16px;
$margin-md:         32px;
$margin-lg:         64px;
$margin-x-lg:       80px;
$margin-xx-lg:      128px;

$border-radius-x-sm:  4px;
$border-radius-sm:    8px;
$border-radius-md:    16px;
$border-radius-lg:    30px;

// Interbit website colours, temporary. Use these variables in the CSS for now.
$ib-grey:             #F7F7F7;
$ib-med-grey:         #E6E6E6;
$ib-dark-grey:        #e7e7e7;
$ib-text-grey:        #666666;
$ib-white:            #FFFFFF;
$ib-blue:             #17A6F2;
$ib-light-blue:       rgba(23, 166, 242, 0.1);
$ib-black:            #000000;
$ib-red:              #d0021b;
$ib-green:            #057514;
$slack-purple:        #51384c;


// Interbit branding colours
$ib-black-100:        #111111;
$ib-black-80:         #414141;
$ib-black-60:         #707070;
$ib-black-40:         #9F9F9F;
$ib-black-20:         #CECECE;
$ib-black-10:         #E7E7E7;

$ib-gold-100:         #FFAD1C;
$ib-gold-75:          #FFC155;
$ib-gold-50:          #FFD58D;

$ib-aqua-100:         #21D6D6;
$ib-aqua-75:          #59DFDF;
$ib-aqua-50:          #8FEAEA;

$ib-emerald-100:      #5FD8A1;
$ib-light-blue-100:   #64B3E2;
$ib-navy-100:         #25474B;
$ib-orange-100:       #FE7862;
$ib-sand-100:         #D1AA9B;
$ib-stone-100:        #A8CFD4;
$ib-turquoise-100:    #64E2CD;
$ib-violet-100:       #848BCC;
